<div class="grid dashboard">
    <div class="col-12 md:col-6 lg:col-3">
        <div class="card overview-box flex flex-column pt-2">
            <div class="flex align-items-center muted-text"><i class="pi pi-shopping-cart"></i>
                <h6 class="m-0 pl-2">Orders</h6>
                <div class="ml-auto"><button pbutton="" pripple="" type="button" icon="pi pi-ellipsis-h"
                        class="p-element p-ripple p-button-rounded p-button-text p-button-plain p-button p-component p-button-icon-only"><span
                            class="p-button-icon pi pi-ellipsis-h" aria-hidden="true"></span><span aria-hidden="true"
                            class="p-button-label">&nbsp;</span><span class="p-ink"></span></button>
                    <p-menu class="p-element ng-tns-c29-155 ng-star-inserted">
                        <!---->
                    </p-menu>
                </div>
            </div>
            <div class="flex justify-content-between mt-3 flex-wrap">
                <div class="flex flex-column" style="width: 80px;"><span class="mb-1 fs-xlarge">640</span><span
                        class="overview-status p-1 teal-bgcolor fs-small">1420 Completed</span></div>
                <div class="flex align-items-end">
                    <p-chart type="line" responsive="true" height="60px" width="160px" class="p-element">
                        <div style="position: relative; width: 160px; height: 60px;"><canvas width="160" height="60"
                                style="display: block; box-sizing: border-box; height: 60px; width: 160px;"></canvas>
                        </div>
                    </p-chart>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
        <div class="card overview-box flex flex-column pt-2">
            <div class="flex align-items-center muted-text"><i class="pi pi-dollar"></i>
                <h6 class="m-0 pl-2">Revenue</h6>
                <div class="ml-auto"><button pbutton="" pripple="" type="button" icon="pi pi-ellipsis-h"
                        class="p-element p-ripple p-button-rounded p-button-text p-button-plain p-button p-component p-button-icon-only"><span
                            class="p-button-icon pi pi-ellipsis-h" aria-hidden="true"></span><span aria-hidden="true"
                            class="p-button-label">&nbsp;</span><span class="p-ink"></span></button>
                    <p-menu class="p-element ng-tns-c29-156 ng-star-inserted">
                        <!---->
                    </p-menu>
                </div>
            </div>
            <div class="flex justify-content-between mt-3 flex-wrap">
                <div class="flex flex-column" style="width: 80px;"><span class="mb-1 fs-xlarge">$57K</span><span
                        class="overview-status p-1 teal-bgcolor fs-small">$9,640 Income</span></div>
                <div class="flex align-items-end">
                    <p-chart type="line" responsive="true" height="60px" width="160px" class="p-element">
                        <div style="position: relative; width: 160px; height: 60px;"><canvas width="160" height="60"
                                style="display: block; box-sizing: border-box; height: 60px; width: 160px;"></canvas>
                        </div>
                    </p-chart>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
        <div class="card overview-box flex flex-column pt-2">
            <div class="flex align-items-center muted-text"><i class="pi pi-users"></i>
                <h6 class="m-0 pl-2">Customers</h6>
                <div class="ml-auto"><button pbutton="" pripple="" type="button" icon="pi pi-ellipsis-h"
                        class="p-element p-ripple p-button-rounded p-button-text p-button-plain p-button p-component p-button-icon-only"><span
                            class="p-button-icon pi pi-ellipsis-h" aria-hidden="true"></span><span aria-hidden="true"
                            class="p-button-label">&nbsp;</span><span class="p-ink"></span></button>
                    <p-menu class="p-element ng-tns-c29-157 ng-star-inserted">
                        <!---->
                    </p-menu>
                </div>
            </div>
            <div class="flex justify-content-between mt-3 flex-wrap">
                <div class="flex flex-column" style="width: 80px;"><span class="mb-1 fs-xlarge">8572</span><span
                        class="overview-status p-1 pink-bgcolor fs-small">25402 Registered</span></div>
                <div class="flex align-items-end">
                    <p-chart type="line" responsive="true" height="60px" width="160px" class="p-element">
                        <div style="position: relative; width: 160px; height: 60px;"><canvas width="160" height="60"
                                style="display: block; box-sizing: border-box; height: 60px; width: 160px;"></canvas>
                        </div>
                    </p-chart>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
        <div class="card overview-box flex flex-column pt-2">
            <div class="flex align-items-center muted-text"><i class="pi pi-comments"></i>
                <h6 class="m-0 pl-2">Comments</h6>
                <div class="ml-auto"><button pbutton="" pripple="" type="button" icon="pi pi-ellipsis-h"
                        class="p-element p-ripple p-button-rounded p-button-text p-button-plain p-button p-component p-button-icon-only"><span
                            class="p-button-icon pi pi-ellipsis-h" aria-hidden="true"></span><span aria-hidden="true"
                            class="p-button-label">&nbsp;</span><span class="p-ink"></span></button>
                    <p-menu class="p-element ng-tns-c29-158 ng-star-inserted">
                        <!---->
                    </p-menu>
                </div>
            </div>
            <div class="flex justify-content-between mt-3 flex-wrap">
                <div class="flex flex-column" style="width: 80px;"><span class="mb-1 fs-xlarge">805</span><span
                        class="overview-status p-1 teal-bgcolor fs-small">85 Responded</span></div>
                <div class="flex align-items-end">
                    <p-chart type="line" responsive="true" height="60px" width="160px" class="p-element">
                        <div style="position: relative; width: 160px; height: 60px;"><canvas width="160" height="60"
                                style="display: block; box-sizing: border-box; height: 60px; width: 160px;"></canvas>
                        </div>
                    </p-chart>
                </div>
            </div>
        </div>
    </div>
 
</div>