<div class="p-5 flex flex-column flex-auto">
    <div class="grid">
       
        <div class="col-12 lg:col-6">
            <div class="surface-card shadow-2 border-round p-4">
                <div class="flex align-items-center justify-content-between mb-3">
                    <div class="text-900 font-medium text-xl">Sales</div>
                    <div><button pbutton="" pripple="" icon="pi pi-ellipsis-v"
                            class="p-ripple p-element p-button-text p-button-plain p-button-rounded p-button p-component p-button-icon-only"><span
                                class="p-ink"></span><span class="p-button-icon pi pi-ellipsis-v"
                                aria-hidden="true"></span><span aria-hidden="true"
                                class="p-button-label">&nbsp;</span></button>
                        <p-menu class="p-element ng-tns-c32-10 ng-star-inserted">
                            <!---->
                        </p-menu>
                    </div>
                </div><img src="assets/images/blocks/chart/chart-line.svg" alt="Image" class="w-full">
            </div>
        </div>
        <div class="col-12 lg:col-6">
            <div class="surface-card shadow-2 border-round p-4">
                <div class="flex align-items-center justify-content-between mb-3">
                    <div class="text-900 font-medium text-xl">Customers</div>
                    <div><button pbutton="" pripple="" icon="pi pi-ellipsis-v"
                            class="p-ripple p-element p-button-text p-button-plain p-button-rounded p-button p-component p-button-icon-only"><span
                                class="p-ink"></span><span class="p-button-icon pi pi-ellipsis-v"
                                aria-hidden="true"></span><span aria-hidden="true"
                                class="p-button-label">&nbsp;</span></button>
                        <p-menu class="p-element ng-tns-c32-11 ng-star-inserted">
                            <!---->
                        </p-menu>
                    </div>
                </div><img src="assets/images/blocks/chart/chart-bar.svg" alt="Image" class="w-full">
            </div>
        </div>
    </div>
</div>