 p-dialog .ui-dialog {
    overflow: scroll;
 
  } 
  .p-dialog-content {
    overflow-y: auto;
    flex-grow: 1;
}
.centered-div {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}