<!-- <mat-toolbar color="primary">
  <a class="title" href="/">{{ title }}</a>

  <div class="toolbar-spacer"></div>

  <a mat-button [routerLink]="['profile']">Profile</a>

  <button mat-raised-button *ngIf="!loginDisplay" (click)="login()">Login</button>

</mat-toolbar> -->
<div *ngIf="!loginDisplay">
  <p-menubar [model]="items">
    <ng-template pTemplate="start">
      <img src="https://picsum.photos/100/100" height="40" class="mr-2">
    </ng-template>
    <ng-template pTemplate="end">
      <input type="text" pInputText placeholder="Search">
    </ng-template>
  </p-menubar>
  <div class="container">
    <router-outlet></router-outlet>
  </div>


</div>


<!-- <router-outlet></router-outlet> -->
<!-- 
  <div class="center-screen" >
    <div class="row">
      <div class="mainimg">
        <img src="../assets/tcs.gif">
      </div>
    </div>
    <div class="row">
      <div class="container">
        <button type="button" class="btn btn-success btn-lg" *ngIf="!loginDisplay" (click)="login()">Iniciar
          sesion</button>
     
  
       
      </div>
      <div class="container">
        <button type="button" class="btn btn-danger btn-lg" *ngIf="loginDisplay" (click)="logout()">Prefiero salir</button>
      </div>
    </div>
  
  </div> -->