<!-- <mat-toolbar color="primary">
  <a class="title" href="/">{{ title }}</a>

  <div class="toolbar-spacer"></div>

  <a mat-button [routerLink]="['profile']">Profile</a>

  <button mat-raised-button *ngIf="!loginDisplay" (click)="login()">Login</button>

</mat-toolbar> -->
<ng-container *ngIf="loginDisplay">
  <router-outlet></router-outlet> 

</ng-container>


  <!-- <router-outlet></router-outlet> -->

  <div class="center-screen" >
    <div class="row">
      <div class="mainimg">
        <img src="../assets/tcs.gif">
      </div>
    </div>
    <div class="row">
      <div class="container">
        <button type="button" class="btn btn-success btn-lg" *ngIf="!loginDisplay" (click)="login()">Iniciar
          sesion</button>
       <!--  <button type="button" class="btn btn-primary btn-lg" *ngIf="loginDisplay" [routerLink]="['profile']">Continuar a
          plataforma</button> -->
  
       
      </div>
      <div class="container">
        <button type="button" class="btn btn-danger btn-lg" *ngIf="loginDisplay" (click)="logout()">Prefiero salir</button>
      </div>
    </div>
  
  </div>

