<!-- <mat-toolbar color="primary">
  <a class="title" href="/">{{ title }}</a>

  <div class="toolbar-spacer"></div>

  <a mat-button [routerLink]="['profile']">Profile</a>

  <button mat-raised-button *ngIf="!loginDisplay" (click)="login()">Login</button>

</mat-toolbar> -->
<div *ngIf="!loginDisplay">
  <p-menubar [model]="items">
    <ng-template pTemplate="start">
      <a [routerLink]="['/']">
        <img src="../assets/tcs.gif" height="40" width="40" class="mr-2">
      </a>
    </ng-template>
    <ng-template pTemplate="end">
      <button pButton type="button" icon="pi pi-sign-out" class="p-button-raised p-button-danger p-button-outlined"
        (click)="logout()"></button>
    </ng-template>
  </p-menubar>
  <div>
    <router-outlet></router-outlet>
  </div>


</div>

<div *ngIf="!loginDisplay" >
  <app-login></app-login>
</div>
<div class="ng-star-inserted">
  <div class="surface-section px-4 md:px-6 lg:px-8">
    <div class="py-6 flex flex-column sm:flex-row sm:align-items-center justify-content-between">
      <div><img src="../assets/tcs.gif" alt="Image" height="40">
        <div class="mt-2 line-height-3">© 2022 Telecorporación Salvadoreña, Inc. All rights reserved</div>
      </div>
      <div class="mt-3 sm:mt-0"><a
          class="cursor-pointer text-500 transition-colors transition-duration-150 hover:text-700"><i
            class="pi pi-twitter text-xl"></i></a><a
          class="cursor-pointer text-500 ml-3 transition-colors transition-duration-150 hover:text-700"><i
            class="pi pi-facebook text-xl"></i></a><a
          class="cursor-pointer text-500 ml-3 transition-colors transition-duration-150 hover:text-700"><i
            class="pi pi-github text-xl"></i></a></div>
    </div>
  </div>
</div>

<!-- <router-outlet></router-outlet> -->
<!-- 
  <div class="center-screen" >
    <div class="row">
      <div class="mainimg">
        <img src="../assets/tcs.gif">
      </div>
    </div>
    <div class="row">
      <div class="container">
        <button type="button" class="btn btn-success btn-lg" *ngIf="!loginDisplay" (click)="login()">Iniciar
          sesion</button>
     
  
       
      </div>
      <div class="container">
        <button type="button" class="btn btn-danger btn-lg" *ngIf="loginDisplay" (click)="logout()">Prefiero salir</button>
      </div>
    </div>
  
  </div> -->