<div class="p-grid">
   
    <div class="p-col-8">
<p-table [value]="devices">
    <ng-template pTemplate="header">
        <tr>
            <th>Vin</th>
            <th>Year</th>
            <th>Brand</th>
            <th>Color</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-device >
        <tr>
            <!-- <td>{{device.vin}}</td>
            <td>{{device.year}}</td>
            <td>{{device.brand}}</td>
            <td>{{device.color}}</td> -->
        </tr>
    </ng-template>
</p-table>
    </div>


    <!-- start form -->
   <!--  <div class="p-col-4">
        <div class="container">
            <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
                <div class="form-group">
                    <label for="name">Nombre</label>
                    <input type="text" #name="ngModel" [(ngModel)]="product.name" name="name" class="form-control"
                        required>
                </div>

                <div class="form-group">
                    <label for="brandId">Marca</label>
                    <select class="form-select" name="brandId" #brandId="ngModel" [(ngModel)]="product.brandId"
                        required>

                        <option value="{{brand._id}}" *ngFor="let brand of brands">{{brand.name}}</option>

                    </select>
                </div>


                <div class="form-group">
                    <label for="category">categoria/s</label>
                     <select class="form-select" #category="ngModel" [(ngModel)]="product.category" name="category" >

                        <option *ngFor="let category of categories" value="{{category._id}}">{{category.name}}</option> 
                       </select>
              
                   
                </div>
                <div class="form-group">
                    <label for="price">Precio</label>
                    <input type="number" #price="ngModel" [(ngModel)]="product.price" name="price" class="form-control"
                        required>
                </div>
                <div class="form-group">
                    <label for="image" class="form-label">Imagen</label>
                    <input type="file" (change)="onFileSelected($event)" class="form-control">
                   
                </div>
                <div class="form-group">
                    <label for="link">Link</label>
                    <input type="text" #link="ngModel" [(ngModel)]="product.link" name="link" class="form-control"
                        required>
                </div>

                <button type="submit" class="btn btn-outline-success mt-3" [disabled]="registerForm.invalid">
                    Guardar Nuevo Dispositivo
                </button>
            </form>
        </div>

    </div> -->
</div>



