<p-toast></p-toast>
<!-- Esta es la tabla de asignaciones -->
<div class="card">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2"
                (click)="openNew()"></button>
            <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger"
                (click)="deleteSelectedUserDevices()"
                [disabled]="!selectedUserDevices || !selectedUserDevices.length"></button>
        </ng-template>

        <!--     <ng-template pTemplate="right">
            <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="p-mr-2 p-d-inline-block"></p-fileUpload>
            <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
        </ng-template> -->
    </p-toolbar>

    <p-table #dt [value]="devices" [rows]="10" [paginator]="true"
        [globalFilterFields]="['employee_id','inventory_cod','requested_by','received_by','location','user_domain','name_equipment','entregado','recibido','solicitado']"
        responsiveLayout="scroll" [(selection)]="selectedUserDevices" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <h5 class="p-m-0">Manage Asignaciones</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                        placeholder="Buscar..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon>
                </th>
                <th pSortableColumn="employee_id">Empleado <p-sortIcon field="employee_id">
                    </p-sortIcon>
                <th pSortableColumn="inventory_cod">Dispositivo <p-sortIcon field="inventory_cod"></p-sortIcon>
                <th pSortableColumn="solicitado">Solicitado por <p-sortIcon field="solicitado"></p-sortIcon>
                </th>
                <th pSortableColumn="recibido">Recibido por <p-sortIcon field="recibido"></p-sortIcon>
                </th>
                <th pSortableColumn="entregado">Entregado por <p-sortIcon field="entregado"></p-sortIcon>
                </th>
                <th pSortableColumn="location">Lugar<p-sortIcon field="location"></p-sortIcon>
                </th>
                <th pSortableColumn="comments">Comentarios<p-sortIcon field="comments"></p-sortIcon>
                </th>
                <th pSortableColumn="equipment_state">Estado de equipo<p-sortIcon field="equipment_state"></p-sortIcon>
                </th>
                <th pSortableColumn="user_domain">Dominio de usuario<p-sortIcon field="user_domain"></p-sortIcon>
                </th>
                <th pSortableColumn="name_equipment">Nombre de equipo<p-sortIcon field="name_equipment"></p-sortIcon>
                </th>


                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-device>
            <tr>
                <td>
                    <p-tableCheckbox [value]="device"></p-tableCheckbox>
                </td>
                <td>{{device.id}}</td>
                <td>{{device.inventory_cod}}</td>
                <td *ngIf="!users">

                    No hay usuarios disponibles

                </td>
                <td *ngIf="users">
                    {{device.empleado}}
                </td>

                <td *ngIf="!users">

                    No hay usuarios disponibles

                </td>
                <td *ngIf="users">
                    {{device.solicitado}}
                </td>
                <td *ngIf="!users">

                    No hay usuarios disponibles

                </td>
                <td *ngIf="users ">
                    {{device.recibido}}
                </td>

                <td *ngIf="!users">

                    No hay usuarios disponibles

                </td>
                <td *ngIf="users ">
                    {{device.entregado}}
                </td>

                <td>{{device.location}}</td>
                <td>{{device.comments}}</td>
                <td>{{device.equipment_state}}</td>
                <td>{{device.user_domain}}</td>
                <td>{{device.name_equipment}}</td>


                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                        (click)="editUserDevice(device)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                        (click)="deleteUserDevice(device)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                En total hay {{devices ? devices.length : 0 }} Asignaciones de equipo.
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="deviceDialog" [style]="{minWidth: '450px'}" header="Detalle de asignacion" [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">

        <!--   <div class="p-field">
            <label for="id">ID</label>
            <input type="text" pInputText id="id" [(ngModel)]="department.id"  autofocus readonly>
            <small class="p-error" *ngIf="submitted && !department.name">id is required.</small>
        </div> -->
        <div class="field m-5">
            <label for="employee_id" class="mb-3">
                <p-dropdown [options]="users" [(ngModel)]="device.employee_id" optionValue="id" optionLabel="email"
                    [filter]="true" filterBy="email" [showClear]="true" placeholder="Selecciona un empleado">
                    <ng-template let-user pTemplate="selectedItem">
                        <div class="country-item country-item-value" *ngIf="device.employee_id">

                            <div *ngIf="user.id==device.employee_id">{{user.email}}</div>

                        </div>
                    </ng-template>
                    <ng-template let-user pTemplate="item">
                        <div class="country-item">

                            <div>{{user.email}}</div>
                        </div>
                    </ng-template>
                </p-dropdown>

            </label>
        </div>


        <div class="field m-5">
            <label for="inventory_cod" class="mb-3">
                <p-dropdown [options]="deviceCodes" [(ngModel)]="device.inventory_cod" optionValue="inventory_cod"
                    optionLabel="inventory_cod" [filter]="true" filterBy="inventory_cod" [showClear]="true"
                    placeholder="Selecciona el codigo de equipo">
                    <ng-template let-devicecode pTemplate="selectedItem">
                        <div class="country-item country-item-value" *ngIf="device.inventory_cod">
                            <div *ngIf="devicecode.inventory_cod==device.inventory_cod">
                                {{devicecode.inventory_cod}}
                            </div>
                        </div>
                    </ng-template>
                    <ng-template let-devicecode pTemplate="item">
                        <div class="country-item">

                            <div>{{devicecode.inventory_cod}}</div>
                        </div>
                    </ng-template>
                </p-dropdown>

            </label>
        </div>


        <div class="field m-5">
            <label for="requested_by" class="mb-3">Solicitado por</label>
            <p-dropdown [options]="users" [(ngModel)]="device.requested_by" optionValue="id" optionLabel="email"
                [filter]="true" filterBy="email" [showClear]="true" placeholder="Selecciona quien lo solicito">
                <ng-template let-user pTemplate="selectedItem">
                    <div class="country-item country-item-value" *ngIf="device.requested_by">

                        <div *ngIf="user.id==device.requested_by">{{user.email}}</div>

                    </div>
                </ng-template>
                <ng-template let-user pTemplate="item">
                    <div class="country-item">

                        <div>{{user.email}}</div>
                    </div>
                </ng-template>
            </p-dropdown>

        </div>

        <div class="field m-5">
            <label for="received_by"> Recibido por</label>
            <p-dropdown [options]="users" [(ngModel)]="device.received_by" optionValue="id" optionLabel="email"
                [filter]="true" filterBy="email" [showClear]="true" placeholder="Selecciona quien lo recibio">
                <ng-template let-user pTemplate="selectedItem">
                    <div class="country-item country-item-value" *ngIf="device.received_by">

                        <div *ngIf="user.id==device.received_by">{{user.email}}</div>

                    </div>
                </ng-template>
                <ng-template let-user pTemplate="item">
                    <div class="country-item">

                        <div>{{user.email}}</div>
                    </div>
                </ng-template>

            </p-dropdown>

        </div>

        <div class="field m-5">
            <label for="delivery_by"> entregado por</label>
            <p-dropdown [options]="users" [(ngModel)]="device.delivery_by" optionValue="id" optionLabel="email"
                [filter]="true" filterBy="email" [showClear]="true" placeholder="Selecciona quien lo entrego">
                <ng-template let-user pTemplate="selectedItem">
                    <div class="country-item country-item-value" *ngIf="device.delivery_by">

                        <div *ngIf="user.id==device.delivery_by">{{user.email}}</div>

                    </div>
                </ng-template>
                <ng-template let-user pTemplate="item">
                    <div class="country-item">

                        <div>{{user.email}}</div>
                    </div>
                </ng-template>
            </p-dropdown>
            <!--     <ng-template let-mark pTemplate="selectedItem">
                    <div *ngIf="device.mark_id">
                        <div *ngIf="device.mark_id== mark.id">{{mark.name}}</div>
                    </div>
                </ng-template>
                <ng-template let-mark pTemplate="item">
                    <div>{{mark.name}}</div>
                </ng-template> -->

        </div>

        <div class="field m-5">
            <label for="location">Lugar/ubicacion</label>
            <!--  <p>
                <p-dropdown [(ngModel)]="device.location" inputId="location" [options]="marks" placeholder="Selecciona"
                    optionValue="id" [style]="{position: 'absolute'}">
                    <ng-template let-mark pTemplate="selectedItem">
                        <div *ngIf="device.mark_id">
                            <div *ngIf="device.mark_id== mark.id">{{mark.name}}</div>
                        </div>
                    </ng-template>
                    <ng-template let-mark pTemplate="item">
                        <div>{{mark.name}}</div>
                    </ng-template>
                </p-dropdown>
            </p> -->
            <input type="text" pInputText id="serial_number" [(ngModel)]="device.location" required autofocus />
            <small class="p-error" *ngIf="submitted && !device.location">La ubicacion es requerido.</small>
        </div>


        <div class="field m-5">
            <label for="comments">Comentarios</label>

            <input type="text" pInputText id="comments" [(ngModel)]="device.comments" required autofocus />
            <small class="p-error" *ngIf="submitted && !device.comments">Los comentarios son requeridos.</small>
        </div>


        <div class="field m-5">
            <label for="equipment_state">Estado de equipo</label>

            <input type="text" pInputText id="equipment_state" [(ngModel)]="device.equipment_state" required
                autofocus />
            <small class="p-error" *ngIf="submitted && !device.equipment_state">Estado del equipo es requerido.</small>
        </div>


        <div class="field m-5">
            <label for="user_domain">Dominio de usuario</label>

            <input type="text" pInputText id="user_domain" [(ngModel)]="device.user_domain" required autofocus />
            <small class="p-error" *ngIf="submitted && !device.user_domain">Dominio de usuario es requerido.</small>
        </div>
        <div class="field m-5">
            <label for="name_equipment">Nombre de equipo </label>

            <input type="text" pInputText id="name_equipment" [(ngModel)]="device.name_equipment" required autofocus />
            <small class="p-error" *ngIf="submitted && !device.name_equipment">Nombre de equipo es requerido.</small>
        </div>








        <!--  <div class="p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="price">Price</label>
                <p-inputNumber id="price" [(ngModel)]="department.price" mode="currency" currency="USD" locale="en-US"></p-inputNumber>
            </div>
            <div class="p-field p-col">
                <label for="quantity">Quantity</label>
                <p-inputNumber id="quantity" [(ngModel)]="department.quantity"></p-inputNumber>
            </div>
        </div> -->
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
            (click)="saveUserDevice()"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>